<section class="page-section side-padding">
  <div class="section-header section-header-outlined">
    <div class="icon"><img src="/xquiste-portfolio/assets/icons/ui/category-icon.svg" alt="Category icon"></div>
    <div class="heading">
      <h4>CATEGORIES</h4>
      <p>EXPLORE CONTENT BY CATEGORIES</p>
    </div>
  </div>
  <div class="chip-collection">
    <!-- Category -->
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">1</div>
      <div class="text">Artificial Intelligence</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">2</div>
      <div class="text">Web Development</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">3</div>
      <div class="text">Machine Learning</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">4</div>
      <div class="text">Game Development</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">5</div>
      <div class="text">Cybersecurity</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">6</div>
      <div class="text">Cloud Computing</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">7</div>
      <div class="text">Data Science</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">8</div>
      <div class="text">Software Engineering</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">9</div>
      <div class="text">Computer Vision</div>
    </a>
    <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
      <div class="index">10</div>
      <div class="text">Natural Language Processing</div>
    </a>
  </div>
</section>