<header id="header">
    <div class="left">
        <span class="icon">
            <img src="/xquiste-portfolio/assets/icons/ui/location.svg" alt="location icon">
        </span>
        <span id="user-timezone">TIMEZONE</span>
        <span id="user-time">00:00:00</span>
    </div>
    <div class="right navigation-toggle closed">
        <div id="menu-toggle-open">
            <img src="/xquiste-portfolio/assets/icons/ui/menu-open.svg" alt="menu open icon">
        </div>
        <div id="menu-toggle-close">
            <img src="/xquiste-portfolio/assets/icons/ui/menu-close.svg" alt="menu close icon">
        </div>
    </div>
</header>
<div id="navigation-menu"></div>