<div id="navigation-menu">
    <nav class="navigation-menu">
        <ul>
            <!-- Menu Item-->
            <li>
                <div class="wrapper">
                    <a href="/">
                        <span class="index">1</span>
                        HOME
                    </a>
                </div>
            </li>
            <!-- Menu Item-->
            <li>
                <div class="wrapper">
                    <a href="/blog.html">
                        <span class="index">2</span>
                        BLOG
                    </a>
                </div>
            </li>
            <!-- Menu Item-->
            <li>
                <div class="wrapper">
                    <a href="/#services">
                        <span class="index">3</span>
                        SERVICES
                    </a>
                </div>
            </li>
            <!-- Menu Item-->
            <li>
                <div class="wrapper">
                    <a href="/contact.html">
                        <span class="index">4</span>
                        CONTACT
                    </a>
                </div>
            </li>
            <!-- Menu Item with SubMenu-->
            <li>
                <div class="wrapper">
                    <a><span class="index">5</span>
                        ARCHIVES
                    </a>
                    <span class="submenu-toggle">
                        <img src="../assets/icons/ui/plus-icon.svg" alt="plus icon">
                    </span>
                </div>
                <!-- Sub Menu -->
                <ul class="dropdown-menu">
                    <!-- Menu Item-->
                    <li>
                        <div class="wrapper"><a href="/archive/computer-science.html"><span
                                    class="index">1</span>Computer Science</a>
                        </div>
                    </li>
                    <!-- Menu Item-->
                    <li>
                        <div class="wrapper"><a href="/archive/computer-science.html"><span
                                    class="index">2</span>Artificial Intelligence</a>
                        </div>
                    </li>
                    <!-- Menu Item-->
                    <li>
                        <div class="wrapper"><a href="/archive/computer-science.html"><span class="index">4</span>Game
                                Development</a>
                        </div>
                    </li>
                    <!-- Menu Item-->
                    <li>
                        <div class="wrapper"><a href="/archive/computer-science.html"><span
                                    class="index">5</span>Cybersecurity</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <a class="menu-contact-btn" href="/contact.html"><img src="../assets/icons/ui/phone-icon.svg"
            alt="telephone icon"></a>
</div>