<!-- ========== PAGINATION ========== -->
<div id="pagination" style="margin-top: 32px;">
    <ul class='page-numbers'>
        <li><a class="prev page-numbers"><span class="pagination-button">
                    <img src="/xquiste-portfolio/assets/icons/ui/left-arrow.svg" alt="Left arrow icon">
                </span></a>
        </li>
        <li><a class="next page-numbers"><span class="pagination-button">
                    <img src="/xquiste-portfolio/assets/icons/ui/right-arrow.svg" alt="Right arrow icon">
                </span></a>
        </li>
    </ul>
</div>