<section class="page-section side-padding">
    <div class="section-header section-header-outlined">
        <div class="icon">
            <img src="/xquiste-portfolio/assets/icons/ui/tags-icon.svg" alt="Tag icon">
        </div>
        <div class="heading">
            <h4>TAGS</h4>
            <p>EXPLORE CONTENT BY TAGS</p>
        </div>
    </div>
    <div class="chip-collection">
        <!-- Tag -->
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">1</div>
            <div class="text">JavaScript</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">2</div>
            <div class="text">React</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">3</div>
            <div class="text">Frontend Development</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">4</div>
            <div class="text">Backend Development</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">5</div>
            <div class="text">Reverse Engineering</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">6</div>
            <div class="text">Python</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">7</div>
            <div class="text">Programming</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">8</div>
            <div class="text">Computer Science</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">9</div>
            <div class="text">Generative AI</div>
        </a>
        <a href="/xquiste-portfolio/archive/computer-science.html" class="chip">
            <div class="index">10</div>
            <div class="text">Updates</div>
        </a>
    </div>
</section>